:root {
    --clr-branco-principal: #ffffff;
    --clr-cinza-secundario: #c0c0c0;
    --clr-azul-botao: #167BF7;
    --clr-azul-botao-efeito: #418deb;
    --clr-plano-fundo: #00030c;
    --fnt-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-plano-fundo);
    color: var(--clr-branco-principal);
    font-family: var(--fnt-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--clr-azul-botao);
    border-radius: 5px;
    padding: 1rem;
    color: var(--clr-branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.container__botao:hover {
    background-color: var(--clr-azul-botao-efeito);
    color: var(--clr-plano-fundo);
}

.container__aviso {
    font-size: 12px;
    color: var(--clr-cinza-secundario);
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__caixa {
    margin: 0 6rem;
}

.botao-secundario {
    background-color: transparent;
    border: 1px solid var(--clr-branco-principal);
}

.principal {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.secundario__imagem {
    width: 90%;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--clr-branco-principal);
    margin-bottom: 0.25rem;
}

.descricao__texto {
    color: var(--clr-cinza-secundario);
}

.container__descricao {
    padding: 2rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--clr-branco-principal);
}

.lista__item {
    font-size: 32px;
}

.rodape {
    text-align: center;
    margin-bottom: 5rem;
}

.rodape__logo {
    margin-bottom: 2rem;
}

.rodape__lista {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 2rem;
}

.lista__link a {
    color: var(--clr-branco-principal);
    text-decoration: none;
}

.lista__link a:hover {
    color: var(--clr-azul-botao);
}

.lista__link a:active {
    color: var(--clr-azul-botao);
}

.rodape__texto {
    font-size: 14px;
    margin-bottom: 2rem;
    color: var(--clr-cinza-secundario);
}


